h1 {
    text-align: center;
}

h1, h2, h3, label, input, button {
    font-family: 'Uchen', serif;
}

body {
    background-color: lavenderblush;
}

/* header {
    color: white;
    background-color: black;
} */